:root {
  --background-color: #ebffff;
  --darkGreen: #3fa0a0;
  --lightGreen: #00ffff;
  --navIconHover: #2c6d6d;
  --grey: #d6cfcf;
  --orange: #ffbd25;
}
html {
  background-color: var(--background-color);
  /* background-color: #00c4c4; */
}
* {
  scroll-behavior: smooth;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  width: 100vw;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  gap: 25px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.15);
}
nav,
nav * {
  background-color: var(--darkGreen);
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anchor {
  position: relative;
  top: -5rem;
  visibility: hidden;
}
.contact-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3%;
  margin-right: 4%;
  width: 300px;
}
.contact-links a {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  transition: 0.25s;
  background-color: var(--orange);
}
.page-links a:hover {
  background-color: var(--navIconHover);
}
.contact-links a:hover,
#main-logo:hover {
  background-color: #ae8119;
}
.fa-brands,
.fa-regular {
  background-color: inherit;
  font-size: 25px;
  width: 50px;
  line-height: 50px;
  border-radius: 100%;
}

.page-links {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  white-space: nowrap;
  gap: 5px;
}
.page-links a {
  padding: 3% 3%;
  transition: 0.25s;
  border-radius: 7px;
}
.intro-card {
  display: flex;
  justify-content: space-around;
  margin: 0 10rem;
  gap: 40px;
}
.intro-card * {
  background-color: inherit;
}
.intro-content {
  width: 50%;
  max-width: 380px;
  text-align: center;
  flex-direction: column;
  padding: 2rem 0;
  background-color: var(--darkGreen);
  box-shadow: -3px 2px 14px 5px rgba(0, 0, 0, 0.23);
  border-radius: 3%;
}
.intro-content p {
  font-weight: 300;
}
.statement {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.statement > * {
  margin: 0 2rem;
}
#pfp {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-bottom: 2rem;
}
#main-logo {
  color: white;
  background-color: var(--orange);
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0;
  border-radius: 0;
}
#content {
  margin: 5rem 10rem;
}
#hello {
  font-size: 3rem;
}
#small-seperator {
  height: 2rem;
  width: 5rem;
  margin-bottom: 15px;
  border-bottom: 3px solid var(--orange);
}
#about {
  margin: 5rem 0;
  background-color: var(--darkGreen);
  box-shadow: -3px 2px 14px 5px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
#about * {
  padding: 2rem;
}

/* hello animation */
.flip-in {
  animation: flip-in 0.5s ease-in both;
}
@keyframes flip-in {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
.flip-out {
  animation: flip-out 0.5s ease-in reverse both;
}
@keyframes flip-out {
  0% {
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
