:root {
  --background-color: #e3fefe;
  --themeColor: #00c5c5;
  --navIconHover: #2c6d6d;
  --grey: #d6cfcf;
  --orange: #ffbd25;
  --fontColor: white;
  --iconColor: grey;
}
[theme="dark"] {
  --background-color: #034949;
  --themeColor: #3fa0a0;
  --iconColor: white;
}

html {
  background-color: var(--background-color);
}
* {
  scroll-behavior: smooth;
  color: var(--fontColor);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  width: 100vw;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  gap: 25px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.15);
}
nav,
nav * {
  background-color: var(--themeColor);
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anchor {
  position: relative;
  top: -10rem;
}
.darkmode-container {
  flex-direction: column;
  gap: 5px;
}
.darkmode-container > label {
  width: 35px;
  height: 17px;
  position: relative;
  display: block;
  background: white;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4) inset 0px -5px 15px rgba (255, 255, 255, 0.4);
  cursor: pointer;
}
.darkmode-container > label::after {
  content: "";
  width: 14.4px;
  height: 14.4px;
  position: absolute;
  top: 0.8px;
  left: 0.8px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.darkmode-container > input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.darkmode-container > input:checked + label {
  background: #034949;
}
.darkmode-container > input:checked + label::after {
  left: 33.2px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.darkmode-container > input:checked + label .fa-sun {
  visibility: hidden;
}
.darkmode-container > input:checked + label .fa-moon {
  visibility: visible;
}
.darkmode-container > input + label .fa-moon {
  visibility: hidden;
}
.darkmode-container i {
  position: absolute;
  z-index: 100;
  font-size: 10px;
  top: 22%;
  background-color: inherit;
  color: var(--iconColor);
}
.darkmode-container .fa-moon {
  left: 5px;
}
.darkmode-container .fa-sun {
  right: 5px;
}
.contact-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3%;
  margin-right: 4%;
  width: 300px;
}

.contact-links a {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  transition: 0.25s;
  background-color: var(--orange);
}
.page-links a:hover {
  background-color: var(--navIconHover);
}
.contact-links a:hover,
#main-logo:hover {
  background-color: #ae8119;
}
.fa-brands,
.fa-regular {
  background-color: inherit;
  font-size: 25px;
  width: 50px;
  line-height: 50px;
  border-radius: 100%;
}

.page-links {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  white-space: nowrap;
  gap: 5px;
}
.page-links a {
  padding: 3% 3%;
  transition: 0.25s;
  border-radius: 7px;
}
.intro-card {
  display: flex;
  justify-content: space-around;
  margin: 0 8rem 5rem;
  gap: 40px;
}
.intro-card * {
  background-color: inherit;
}
.intro-content {
  width: 50%;
  max-width: 450px;
  text-align: center;
  flex-direction: column;
  padding: 2rem 0;
  background-color: var(--themeColor);
  box-shadow: -3px 2px 14px 5px rgba(0, 0, 0, 0.23);
  border-radius: 3%;
}
.intro-content p {
  font-weight: 300;
}
.statement {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.statement > * {
  margin: 0 2rem;
}
.project {
  background-color: var(--themeColor);
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: -3px 2px 14px 5px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin-bottom: 5rem;
}
.project-image {
  max-width: 50%;
  border-radius: 10px 0 0 10px;
}
.project-description {
  flex-direction: column;
  width: 100%;
}
.project-description > * {
  margin: 2% 8% 5px;
}
.project-description h1 {
  text-align: center;
  border-bottom: 3px solid var(--orange);
  margin-top: 5%;
}
.project-description i {
  height: 25px;
  width: 25px;
  transition: 0.25s;
}
.project-description i:hover {
  transform: scale(1.1);
}
.language-container {
  width: 100%;
  text-align: center;
}
.language {
  background-color: var(--navIconHover);
  padding: 2%;
  border-radius: 20px;
  margin: 0 2%;
  font-weight: 300;
  transition: 0.25s;
}
.language:hover {
  transform: scale(1.1);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.23);
  cursor: default;
}
#pfp {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-bottom: 2rem;
}
#main-logo {
  background-color: var(--orange);
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 55px;
  line-height: 55px;
  text-align: center;
  padding: 0;
  transition: 0.25s;
  border-radius: 0;
}
#content {
  margin: 10% 10rem;
}
#hello {
  font-size: 2.2rem;
}
#small-seperator {
  height: 2rem;
  width: 5rem;
  margin-bottom: 15px;
  border-bottom: 3px solid var(--orange);
}
#about {
  margin-bottom: 5rem;
  background-color: var(--themeColor);
  box-shadow: -3px 2px 14px 5px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
#about * {
  padding: 2rem;
}

/* hello animation */
.flip-in {
  animation: flip-in 0.5s ease-in both;
}
@keyframes flip-in {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
.flip-out {
  animation: flip-out 0.5s ease-in reverse both;
}
@keyframes flip-out {
  0% {
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
